*.pyc
*/.DS_Store
.DS_Store
dev.db
*.swp
*.project
*.pydevproject
.settings
manage.py
libs/*.so*
._*
site_media
local_settings.py
*.labels.dat
*django_dev_cache*
*popvox/django_dev_cache*
.idea

src/temp/*